.form {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
}

.input {
  color: var(--text-color);
  border: 1px solid var(--text-color);
  outline: transparent;
  height: 40px;
  border-radius: 8px;
  padding: 6px 12px;
  width: 300px;
}

.button {
  composes: button from "../../App.css";
  gap: 8px;
}

.button:hover {
  background-color: var(--hover-color);
}
